
body {
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 11px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  font-family: "Roboto Condensed", sans-serif;
}

/* css for mobile nav bar */

.burger-menu-icon {
width: 50px;
height: 30px;
margin-left: auto;
margin-right: 5%;
color: red!important;
}

.nav-header {
  background-color: rgba(10,10,10,0.9); 
  height: 50px;
  display: flex;
  align-items: center;
  width: 100vw;
}

ul.dropdown-content {
  overflow: hidden; 
  max-height: 0px; 
  background: rgba(10,10,10,0.9);
transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); 
  color: rgba(255,255,255,0.7); 
  list-style: none;
  padding: 0px;
  position: fixed;
  width: 100%;
  margin: 0;
}

.dropdown-content > li {
height: 40px;
line-height: 35px;
border-top: 1px solid rgba(73,71,71,0.45);
width: 100%;
text-align: left;
padding-left: 20px;
font-size: 12px;
cursor: pointer;
}


ul.on {
max-height: 600px;
/*  opacity: .9; */
transition: max-height 1s;
}

.mobile-nav{
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: +10;
} 

.charles {
  padding-left: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin: 0;
}

@media only screen and (min-width: 750px) {
 .mobile-nav {
     display: none;
 }


}


/* Css for desktop nav bar */

.name-area {
 line-height: 80px;
 position: absolute;
}

.desktop-nav {
  display: flex;
  background-color: transparent;  
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: +10;
}

@media only screen and (max-width: 750px) {
  .desktop-nav {
      display: none;
  }

  .spacer {
    height: 100px;
    width: 100%;
  }

  
 }

 .menu-area {
  width: 100%; 
 } 

 .menu-content {
     display: flex;
     color: white;
     list-style: none;
     padding-inline-start: 00px;
     justify-content: center;
 }


 .menu-content > li {
  height: 40px;
  line-height: 50px; 
  width: 100px;
  text-align: center;
  padding-left: 20px;
  font-size: 14px;
  cursor: pointer;
  }
  
  #header-image-container {
   height: 100vh;
   width: 100%;
   background: url("images/Headerimage.jpg");  
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 70%);
   text-align: center;
  }

  #header-content {
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
  }


  #header-content  h2 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: white;
    font-size: 25px;
  }



/* homepage content */

.exposure {
opacity: 0;
transition: opacity 2s; 
}

.sales {
opacity: 0;
transition: opacity 2s; 
}

.brand {
opacity: 0;
transition: opacity 2s; 
}

.on {
opacity: 1!important;
transition: opacity  2s; 
}

#fading-texts {
 margin: 0 auto;
 height: 80px;
}

#fading-texts > h1 {
 color: white;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 padding-top: 110px;
 font-size: 35px;
 margin-block-start: 0em;
 margin-block-end: 0em;
} 


@media only screen and (max-width: 750px) {
  #desktop-nav {
      display: none;
  }

 
#fading-texts > h1 {
  padding-top: 50px;
  font-size: 20px;

}

#header-content > h2 {
  font-size: 20px;

}

}

/* service section css */

#services-container {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 padding-top: 150px;
 padding-bottom: 150px;
}

#services-container > div {
margin: 40px;
width: 250px;
text-align: center;

}

.iconify {
 font-size: 45px;
}

.service h3 {
font-size: 13px;
}

.service p {
font-size: 11px;
line-height: 2;
color: #666;
}

@media only screen and (max-width: 1320px) {
  #services-container > div {
    width: 400px;
  }

  #services-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
   }

}

#see-more-work {
  width: 100%;
  height: 200px;
  background-color: black;
  color: #fff;
  position: relative;
}

#see-more-work-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#see-more-work-content p {
/*  color: rgba(255,255,255,0.6);  */
 color: black;
}

#view-portfolio-text {
padding-right: 100px;
}

#view-portfolio {
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  color: black;
  padding-right: 35px;
  padding-left: 35px;
  cursor: pointer;
}

#view-portfolio-text p {
  color: rgba(255,255,255,0.6);
  
}

#view-portfolio:hover {
  background-color: rgba(255,255,255,1);
}


/* css for accordion */

.accordion-wrap {
  max-width: 550px;
  z-index: 5;
  height: 312px;
}

h4.accordion-btn {
  text-decoration: none;
  background: #efefef;
  color: #000;
  display: block;
  padding: 5px 7px;
  position: relative;
}


h4.accordion-btn:after {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" /> </svg>');
  display: block;
  height: 12px;
  width: 12px;
  color: #77a464;
  position: absolute;
  top: 10px;
  right: 20px; 
  border-radius: 50%;

}
.accordion-content {
  max-height: 0px;
  overflow: hidden;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  padding-left: 10px;
  transition: max-height 1s;
  line-height: 2;
  font-size: 11px;
}

.accordion-wrap h4 {
  margin-block-start: 0em!important;
  margin-block-end: 0em!important; 
  padding: 12px;
  font-weight: normal;
}

h4.accordion-btn.isOpen:after {
  content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" /> </svg>');
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}

#expertises-questions {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  z-index: -10;
}

.content-wrap {
 margin-top: 5px;  
}

.accordion-wrap > p{
  color: #666;
  font-size: 11px;
}

.expertise-wrap > p{
  color: #666;
  font-size: 16px;
}

.accordion-content > p{
  color: #666;
  font-size: 10px;
}

.expertise-list {
  display: flex;
  align-items: center;
  color: #666;
}

.expertise-list > .iconify {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.expertise-wrap {
  padding-left: 40px;
}

.accordion-wrap{
  padding-right: 40px;
}


@media only screen and (max-width: 830px) {
  #expertises-questions {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
  }

  .accordion-wrap{
    padding: 30px;
  }

  .expertise-wrap {
    padding: 30px;
  }
  
}  

@media only screen and (max-width: 372px){

  h4.accordion-btn.isOpen:after {
    right: 10px;
  }

  h4.accordion-btn:after {
    right: 10px;
  }
  

} 

@media only screen and (max-width: 780px){

  #see-more-work-content {
    flex-direction: column;
    align-items: center;
  }

  #view-portfolio-text {
    padding-right: 00px;
    padding-bottom: 10px;
    text-align: center;
  }
    
} 

/* call back section */

#request-call-back {
 display: flex; 
}

#request-call-back {
  margin-top: 100px;
  margin-bottom: 150px;
  position: relative;
  background: url("images/Headerimage.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  box-shadow: inset 0 0 0 2000px rgb(34 34 34 / 70%);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}

#request-call-back input:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
} 

#request-call-back input {
  height: 43px;
  width: 300px;
  border: none;
}

#request-call-back p{
font-size: 11px;
line-height: 1.5;
}
.input-container {
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
  margin-bottom: 10px;
}

#request-call-text-area {
  width: 300px;
}

#name-phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit {
  height: 30px!important;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.75)!important;
  color: white;
  width: 330px!important;
}

.submit:hover {
  background-color: white;
  color: black;
 }

 .submit-container {
   padding-top: 8px;
   padding-bottom: 12px;
 }

 .submit-container > input{
  padding-top: 8px;
  padding-bottom: 12px;
}


 #subject-submit-mobile {
  display: none;
}

 @media only screen and (max-width: 1105px){
  #request-call-back {
    display: flex; 
    flex-direction: column;
    align-items: center;
   }

   .submit {
    width: 435px!important;
  }
   
  #request-call-text-area {
    width: 400px;
  }

  #request-call-back input {
    width: 400px;
   }

   .submit-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #subject-submit-mobile {
    display: block;
    text-align: center;
  }

  #subject-submit {
    display: none;
  }
 
}


@media only screen and (max-width: 420px){
  #request-call-back {
    display: flex; 
    flex-direction: column;
    align-items: center;
   }

   .submit {
    width: 340px!important;
  }
   
  #request-call-text-area {
    width: 300px;
  }

  #request-call-back input {
    width: 300px;
   }

   .submit-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
 
}

.spacer {
  height: 150px;
  width: 100%;
}


@media only screen and (max-width: 750px) {


  .spacer {
    height: 100px;
    width: 100%;
  }

  
 }



.footer {
  width: 100%;
  background-color: black; 
  color: white;
  font-size: 10px;
  text-align: center;
}



.rights {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconify--ic {
 margin-bottom: 2px;
}

.social-icons {
 height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons > svg {
  margin: 10px;
  font-size: 38px;
}

/* contact page css */



input {
color: gray;
}

.contact-page-container {
  min-height: 100vh;
}

#contact-content-area {
  height: 100vh;
}

.contact{
  text-align: center;
  color: rgba(17,17,17,0.8);
  display: flex;
  justify-content: center;
 }

 .contact-header {
  background: url("images/Headerimage.jpg");  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh;
  box-shadow: inset 0 0 0 2000px rgb(34 34 34 / 70%);
  color: white; 
 }


 .name-input-container > input:focus{
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  padding-left: 10px;
} 

.name-input-container > input{
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  border:  1px solid #EAEAEA;
  width: 750px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
}

 .email-input-container > input{
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  border:  1px solid #EAEAEA;
  width: 750px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
}
 

.message-input-container > input{
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  border:  1px solid #EAEAEA;
  width: 750px;
  height: 80px;
  margin-bottom: 20px;
  padding-left: 10px;
}
 


.submit-input-container > input{
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  border:  1px solid #EAEAEA;
  width: 750px;
  height: 30px;
  margin-bottom: 20px;
  background: rgba(17,17,17,0.8);
  color: white;
}
 



.submit-input-container > input:hover{
  background: black;
}
 


.meet-text-area p{
  width: 200px;
  line-height: 2;
  font-size: 11px;
  text-align: start;
}

.meet-text-area h3{
  text-align: start;
  margin-block-start: 0;
}

.hello-text-area p{
  width: 200px;
  line-height: 2;
  font-size: 11px;
  text-align: start;
}

.hello-text-area h3{
  text-align: start;
  margin-block-start: 0;
}

.meet {
  margin-bottom: 10px;
  display: flex;
}

.hello {
  display: flex;
}

#contact-text {
  margin-left: 20px;
}

.hello-icon-area {
  margin-right: 20px;
}

.meet-icon-area {
  margin-right: 20px;
}

#mobile-contact-form {
  display: none;
}

.mobile-spacer{
  display: none;
  height: 100px;
  width: 100%;
}

@media only screen and (max-width: 1192px) {
  #contact-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
  }
  .mobile-spacer{
    display: block;
    height: 100px;
    width: 100%;
  }
 }

 .contact {
  display: flex;
  flex-direction: row;
}


 @media only screen and (max-width: 1135px) {
  
  .contact {
    display: flex;
    flex-direction: column;
  }
  
  #contact-form {
 display: none;
  }

  #mobile-contact-form {
    display: flex;
  }

  #mobile-contact-form  input {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
    border:  1px solid #EAEAEA;
    margin-bottom: 20px;
    width: 80%;
    height: 30px;
    color: rgba(17,17,17,0.8);
    padding-left: 10px;
  }



  #mobile-contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .meet {
    justify-content: center;
  }

  .hello {
    justify-content: center;
  }

  .your-message-mobile > input {
    height: 50px!important;
  }

  .submit-mobile > input {
    color: white!important;
    background: rgba(17,17,17,0.8);
  }

  .submit-mobile > input:hover {
    color: white!important;
    background: black;
  }

 }

 /* about us page */

 #about-us {
   width: 100%;
   display: flex;
 }

 #about-us-image {
  width: 50%;
  margin-left: 5px;
}

#about-us-image img {
  width: 100%;
}

@media only screen and (max-width: 930px)  {
  #about-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-us-image {
    width: 100%;
    margin-left: 0px;
  }

  #about-us-image img {
    width: 100%;
    height: 400px;
    margin: 0;
  }

  #about-us-text {
    width: 100%;
  }

}

#about-us-text {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #666;
  font-size: 11px;
  padding: 5% 40px;
  line-height: 2;
  margin-right: 5px;
}


.project-container {
  display: flex;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.project-image {
  width: 40%;
}

.project-description {
  width: 40%;
}



.project-description > h1 p{
margin-right: 15px;
margin-left: 15px;
}

.project-image img {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

.project-image {
 
}

.description-text-container {
  line-height: 2;
  font-size: 11px;
  color: #666;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
}

.description-text-container > p {
  padding-left: 40px;
  padding-right: 40px;
}

.description-text-container > h1 {
  padding-left: 40px;
  padding-right: 40px;
}


@media only screen and (max-width: 930px)  {
  .project-container {
    display: flex;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .description-text-container > p {
    padding-left: 00px;
    padding-right: 00px;
  }
  
  .description-text-container > h1 {
    padding-left: 00px;
    padding-right: 00px;
  }

  .project-image {
    width: 80%;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    padding-left: 1px;
    padding-right: 0px;
  }

  .description-text-container {
    line-height: 2;
    font-size: 11px;
    color: #666;
    width: 100%;
  }
  
  .project-description {
    width: 80%;
  }

}


@media only screen and (max-width: 580px)  {
  .project-image {
    width: 90%;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
  height: 40px;
  line-height: 50px;
  width: 100px;
  text-align: left;
  font-size: 11px;
}

svg {
  cursor: pointer;
}